@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
}


.containerhero {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: auto;
}
.centeredhero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.responsiveimg{
  width: 100%;
  height: 100vh;
}